In [138]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [139]:

df = pd.read_csv("../data/tweets_vader_sentiment.csv")
df.head()
df['Date'] = pd.to_datetime(df['Date'])

price_df = (
    df[['Stock Name', 'Date', 'Close']]
    .drop_duplicates()
    .sort_values(['Stock Name', 'Date'])
    .reset_index(drop=True)
)


price_df['next_close'] = price_df.groupby('Stock Name')['Close'].shift(-1)
price_df['next_return'] = (price_df['next_close'] - price_df['Close']) / price_df['Close']


df = df.merge(
    price_df[['Stock Name', 'Date', 'next_close', 'next_return']],
    on=['Stock Name', 'Date'],
    how='left'
)

# Optional: sanity check
df[['Stock Name', 'Date', 'Close', 'next_close', 'next_return']].sample(10)

      Stock Name       Date       Close  next_close  next_return
11967       COST 2022-04-02         NaN         NaN          NaN
44218       TSLA 2022-01-11  354.799988  368.739990     0.039290
27753         PG 2022-01-12  159.009995  158.289993    -0.004528
13117       ENPH 2021-11-28         NaN  256.709991          NaN
47975       TSLA 2022-02-11  286.666656         NaN          NaN
64765       TSLA 2022-08-06         NaN         NaN          NaN
75808        TSM 2022-04-08   99.290001         NaN          NaN
77995        TSM 2022-06-23   84.120003   85.919998     0.021398
22483       NFLX 2022-01-21  397.500000         NaN          NaN
45322       TSLA 2022-01-20  332.089996  314.633331    -0.052566